<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr-FR" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <img src='./img/logo.png' height='50px'>
      <h1 class="project-name">Collectif Article 15</h1>
      <h1 class="project-tagline">Ouverture des données et échéances 2018 : une nouvelle offre de
services s'organise</h2>
      <h3>À l'occasion du lancement d'une consultation inédite par le Conseil régional Occitanie/Pyrénées Méditerranée,<BR> plusieurs acteurs du conseil en matière de gestion des données se sont regroupés,<BR> pour donner naissance au "Collectif Article 15".</h3>

    </section>

    <section class="main-content">
      {{ content }}
									
    <footer class="site-footer">
	    <p style="font-weight:bold">FOCUS : La démarche de la Région Occitanie</p>
	    <p>Le marché attribué par le Conseil régional au groupement Article 15 est d’une ampleur
inédite. Il porte sur une durée de 3 ans (montant maxi : 180 000 euros) et vise à conduire
une démarche d’ouverture des données cohérente et méthodique, s’appuyant sur un réseau
de référents (à créer et à mobiliser), intégrant un dispositif d’identification et de priorisation
des données à ouvrir, spécifiant l’outillage nécessaire et définissant une stratégie de
diffusion (LOT 1).</p>

<p>En parallèle, elle crée un dispositif d’animation de l’open data de son territoire, pour
favoriser les mutualisations en région et assurer la promotion de sa démarche auprès
d’acteurs clefs, notamment à l’international (LOT 2).</p>

<p>La région inscrit sa démarche dans une réelle stratégie de la donnée, qui irriguera de
nombreux territoires, des secteurs économiques ou encore la recherche à l’échelle d’un
« pôle de la donnée régionale ».</p>


      </footer>
    </section>

  </body>
</html>
